html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

footer {
  flex: auto;
  bottom: 0;
}

.nodisplay {
  display: none !important;
}

.movies {
  width: 100%;
  margin: 0.5rem auto;
}

.table-movies {
  width: 100%;
  margin-bottom: 1rem;
}

.table-movies {
  width: 100%;
  font-size: 1.2rem;
  /* color: green; */
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}